// Specific CSS for your home-page
.homepage-lamp-container {
  position: absolute;
  width: 390px;
  height: 692px;
}

.demo-image {
  padding-top: 30px;
}

.landing-call {
  margin-left: 24px;
}

.tryforfree {
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.landing-lamp {
  width: 336px;
  position: absolute;
  left: 28px;
  bottom: 190px;
}

.img-container {
  height: 180px;
  width: 180px;
  margin: auto;
}

.img-overlay {
  position: absolute;
  z-index: 1;
  top: 100px;
  @include media-breakpoint-up(sm) {
    top: 120px;
  }
  width: 100%;
  height: 100%;
  background-color: white;
}

.moving-img {
  position: relative;
  animation: rotateImg 12s linear infinite;
  top: 0;
  left: 0;
}

.stationary-img {
  position: relative;
  top: -180px;
  left: 0;
}

.landing-wish {
  margin-top: 50px;
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.fade-out {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in1 {
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
