<div class="swiper fav-container px-3" data-controller="index-card-swiper">
  <h1>Favourites</h1>
  <div class="swiper-wrapper">
    <% @favourites.each do |favourite| %>
      <% card = favourite.card %>
      <%= render 'cards/individual_card', card: card %>
    <% end %>
  </div>
</div>
