<div class="container faq-content bg-white">
  <div class="d-flex justify-content-center">
    <%= link_to :back, class: "btn", style: "position: absolute; left: 12px;" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>

    <h2>FAQ</h2>
  </div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How do I search for information within the app?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Answer: To search for information within the app, simply open the app and tap on the search icon or use the search bar at the top of the screen. Then, enter your query or keywords related to the topic you're interested in. The app will display relevant results, and you can tap on any of them to access more details.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Can I customize my content preferences or topics of interest?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Answer: Yes, you can customize your content preferences within the app. To do this, navigate to the app's settings or preferences menu. From there, you can specify your areas of interest or select topics you'd like to receive information about. The app will then tailor its content recommendations to match your preferences.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Is the app available offline, and can I download content for offline access?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Answer: Yes, the app offers offline access to some content. You can download articles, guides, or other resources for offline reading or reference. To download content, look for the download or save icon on individual items or within the app's menu. Keep in mind that not all content may be available for offline access, and the availability of offline features may vary depending on your subscription or account type.
      </div>
    </div>
  </div>
</div>


</div>
