<div class="container landing-content text-center">
  <h2>Your Network is Your Net-Worth!</h2>
  <%= image_tag "landingpagepic.jpg", class: "landingpageimg my-4", alt: "landing page" %>
  <%= link_to 'Try For Free Now!', cards_path, class: 'btn btn-dark tryforfree' %>
</div>
