<div class="container landing-content text-center">
  <div class="h2">Your Network is Your Net-Worth!</div>
  <%= image_tag "landingpagepic.jpg", class: "landingpageimg my-4", alt: "landing page" %>
  <%= link_to 'Try For Free Now!', cards_path, class: 'btn btn-dark tryforfree' %>
</div>
