<% if @categories.present? %>
    <% @categories.each do |category| %>
      <% if @cards_by_category[category].present? %>
        <div class="category-heading">
          <h1><%= category.tag %></h1>
        </div>
        <div class="swiper" data-controller="index-card-swiper">
          <div class="swiper-wrapper">
            <% @cards_by_category[category].each do |card| %>
              <%= render 'individual_card', card: card, category: category %>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% if @cards_by_category_all.present? %>
      <h1>All Categories</h1>
      <div class="swiper" data-controller="index-card-swiper">
        <div class="swiper-wrapper">
          <% @cards_by_category_all.each do |card| %>
            <%= render 'individual_card', card: card %>
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    <% else %>
      <p>No cards found.</p>
    <% end %>
  <% end %>
