<div data-refresh-news-target="renderNews" >
  <% if @articles.present? %>

      <% @articles.each do |article| %>
        <hr>
        <p><%= article.published_at.in_time_zone('Asia/Singapore').strftime('%d %b %l:%M%P') %></p>
        <p><%= article.description %></p>
        <a href="<%= article.url %>" target="_blank"><%= article.title %></a>


      <% end %>

  <% else %>
    <p>No news articles available.</p>
  <% end %>
</div>
