<div data-controller="loading-page">
<%= render "shared/loading" %>
<div class="container">
 <div>
    <%= link_to :back, class: "btn" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
  </div>
  <div >
    <%= render 'form', card: @card %>
  </div>
</div>
</div>
