<div class="container">
  <div>
    <%= link_to :back, class: "btn" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
  </div>

  <ul>
    <li><%=  Summary.where(card: @card).last.key_points %></li>
    <li><%=  Summary.where(card: @card).last.key_questions %></li>
  </ul>
  <%= link_to 'Create New Card', new_card_path %>
</div>
