.card-title {
  font-size: 30px;
  font-weight: bold;
}

.card-link {
  text-decoration: none;
}

.card {
  border: none;
  border-radius:20px;
  margin-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 307px;
  height: 375px;
  padding-top: 100%;
  position: relative;
}

.card-poster {
  font-style: italic;
  font-size: 15px;
  text-align: right;
}

.card-body {
  color: black;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}



.delete-button {
  font-weight: bold;
}
