.category-tag {
  background-color: #ccc; // Grey color
  border-radius: 20px;   // Adjust the value for the desired roundness
  padding: 5px 10px;     // Adjust padding as needed
  color: #fff;           // Text color (white in this example)
  font-weight: bold;     // Make text bold (optional)
  display: inline-block; // To make the box inline with text
  margin-right: 10px;    // Adjust spacing between tags
  font-size: 10px;
}
