

.flash-message {
padding: 15px 20px;
background-color: #fff5df;
border-color: #feebc4;
border-width: 2px;
color:#9f7340;
position: fixed;
top: 16px;
right: 10px;
z-index: 1000;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.fav-container {
  margin-top: 130px;
  padding-bottom: 130px;
}

.favourites-button {
  border: none;
  background-color: transparent;
}
