// .top-grey-container {
//   background-color: #d9d9d9;
//   height: 230px;
//   border-radius: 0 0 45px 45px;
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
//   padding: 20px
// }

.main-content {
  .main-heading {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 32px;
      color: $primary;
      font-weight: 700;
    }
  }
}

.allcard-heading h1 {
  color: $primary;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  padding-left: 15px;
}

.wish-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 12px;
}

.wish-custom-button {
  border: none;
  width: 283px;
  height: 50px;
  background-color: $success;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px $success;
  font-family: $headers-font;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

// .lamp-icon {
//   margin-left: 20px; /* Replace with your desired margin */
//   max-width: 100%;
//   max-height: 100%;
//   object-fit: cover;
// }

.icon-button {
  font-size: small;
  border-color: #333;
}


.fa-sliders::before {
  font-size: 25px;
  color: $primary;
}
