.lamp-container {
  margin-top: 100px;
}

.spinner {
  position: absolute;
  left: 8%;
  top: 15%;

}

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #f38e82;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
