.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}

.rounded-top-right {
  border-top-right-radius: 12px; /* Adjust the radius as needed */
}

.bottom-navbar {
  background: #131417 ;
  padding-top: 35px;
  padding-bottom: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.navbar-rectangle {
  background-color: #1D1F24;
  padding: 25px 25px;
  width: 100%;
}

.nav-button {
  text-decoration: none;
  font-size: 0.9rem;
  color: #676D75;
}

.nav-icon {
  font-size: 30px;
}

.offcanvas-options {
  color: #8a8a8e;
}

.is-active {
  color: white;
}
