.profile-container {
  background-color: white;
  padding-bottom: 60px;
}

.profile-password-hint {
  color: #0E0000BF;
  font-size: 14px !important;
}

.custom-profile-wrap {
  margin-bottom: 2px !important;
}

.profile-header {
  font-size: 22px;
  font-size: bold;
}

.button-save-profile {
  text-align: center;
  border-radius: 15px;
  width: 80%;
  background-color: $success;
  padding: 12px 20px;
  color: white;
}

.button-delete-profile {
  border-radius: 15px;
  width: 80%;
  background-color: rgb(80, 80, 80);
  padding: 12px 20px;
  color: white;
}

.avatar {
  border-radius: 50%;
}

.avatar-profile {
  width: 150px !important;
  height: 150px !important;
}

.avatar-comment {
  width: 20px !important;
  height: 20px !important;
}

.avatar-form {
  width: 50px !important;
  height: 50px !important;
}
