.search-container {
  padding-left: 26px;
  margin-top: 15px;
  padding-right: 30px;
}




.search-content {
  width: 248px;
  height: 38px;
  border-radius: 20px;
  border: 0.5px solid rgba(20, 23, 44, 0.70);
  background: var(--gray-white, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-input-group {
  position: relative; /* Make the container a positioning context */
}

/* Style the input field */
.form-control {
  padding-right: 40px;
  background-color: transparent;
  border: none;
}

/* Style the button (magnifying glass) */
.btn.search-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  z-index: 1;
  border: none;
  background-color: transparent;
}
