.slider {
  overflow: hidden;
  position: relative;
  padding-bottom: 6rem;
  display: flex;
  width: 100%;
}

.q-slider {
  overflow: hidden;
  position: relative;
  padding-bottom: 2.5rem;
  display: flex;
  width: 100%;
}


.slide {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  width: 90%;
  transition: transform 0.3s ease;
}

.slide-buttons {
  position: relative;
  padding: 15px;
}

.q-slide-buttons {
  position: relative;
  padding: 8px;
}

.slider_btn {
  position: absolute;
  top: -220%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.1);
  font-family: inherit;
  color:rgba(20,23,44, 0.5);
  border-radius: 50%;
  height: 3.1rem;
  width: 3.1rem;
  font-size: 2rem;
  cursor: pointer;
}

.slider_btn-left {
  left: 6%;
  transform: translate(-80%, -50%);
}

.slider_btn-right {
  right: 6%;
  transform: translate(70%, -50%);
}

.dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots_dot {
  border: none;
  background-color: #C3C5D2;
  opacity: 0.7;
  padding: 1px 1px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin-right: 0.2rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots_dot.active {
  /* background-color: #fff; */
  background-color: #787B8D;
  opacity: 1;
}

.qdots_dot {
  border: none;
  background-color: #C3C5D2;
  opacity: 0.7;
  padding: 1px 1px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin-right: 0.2rem;
  cursor: pointer;
  transition: all 0.5s;
}

.qdots_dot.active {
  /* background-color: #fff; */
  background-color: #787B8D;
  opacity: 1;
}


.swiper-pagination {
  background-color: black;
  color: black;
}
