.swiper .swiper-pagination-bullet{
  background-color: $success;
}

.swiper{
  --add-bottom: 50px;
  padding-bottom: var(--add-bottom);
}
.swiper [class^="swiper-button-"]{
  top: calc(50% - var(--add-bottom) / 2);
}
