.flashMessage {
  position: fixed;
  top: 16px;
  right: 10px;
  z-index: 1000;
  padding: 15px 20px;
  background-color: #fff5df;
  border-color: #feebc4;
  border-width: 2px;
  color:#9f7340;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.logo-container {
  background-color: white;
  height: 200px;
}

.category-container {
  padding: 30px 30px;
  background-color: #D9D9D9;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  height: 400px;
  overflow: auto;
}

.category-card {
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.category-selected {
  background-color: #8f8d8d !important;
  border: 1px solid #5a1fa3 !important;
}
