.button-signup {
  text-align: center;
  border-radius: 15px;
  width: 80%;
  background: $success;
  padding: 12px 20px;
  color: white;
}

.signup-container {
  padding-left: 28px;
  padding-right: 28px;
}

input::placeholder { /* Modern browsers */
  font-size: 10px;
  color: #ECEDF3;
  font-family: $body-font;
}

.signup-rounded-input {
  font-family: $headers-font;
  background-color: white !important;
  border: 0.5px solid $primary !important;
  border-radius: 8px;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

.signin-rounded-inputs {
  font-family: $headers-font;
  background-color: white !important;
  border: 0.5px solid $primary !important;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.not-a-user {
  color: $secondary;
}

.already-a-user {
  color: $secondary;
}


.signup-header {
  padding-top: 40px;
  font-weight: 800;
  font-size: 35px;
}

.page-container {
  background-color: white;
  padding-bottom: 100px;
  color: $primary;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 12%;
  z-index: 1;
}

.grey-container {
  background-color: #D9D9D9;
  height: 100vh;
  border-radius: 20px;
}

.image-container{
  padding: 130px;
}

.custom-label {
  margin-bottom: 2px;
  font-weight: bold;
}

.signin-label {
  color: $primary;
  font-weight: bold;
}

.custom-signup-wrap {
  margin-bottom: 12px !important;
}

.custom-signin-wrap {
  margin-bottom: 3px !important;
}

.form-check-label {
  color: $primary;
  font-weight: bold;
}

.form-check-input {
  border-color: $primary;
  background-color: white;
}

.forgotpw-link {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.external-sign {
  color: $success;
  padding: 10px 20px;
  border-radius: 8px;
  background: linear-gradient(36deg, $light 0%, rgba(255,255,255,1) 30%);
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.rectangle-right {
  background: linear-gradient(to right, $success, #D9D9D9);
  padding: 1px 30px;
  border: none;
  box-shadow: none;
}

.rectangle-left {
  background: linear-gradient(to left, $success, #D9D9D9);
  padding: 1px 30px;
  border: none;
  box-shadow: none;
}
