<%= form_for(current_user, url: category_path, method: :put) do |f| %>
  <div class="form-group">
      <% @categories.each do |category| %>
        <div class="form-check">
          <%= f.check_box :category_ids, { multiple: true }, category.id, nil %>
          <%= label_tag category.tag %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit 'Save Categories', class: 'btn btn-primary' %>
    </div>
  <% end %>
